#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  justify-content: center;
  gap: 0.5em;
}

.square {
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  font-size: 4rem;
  background-color: hsl(0, 0%, 20%);
  cursor: pointer;
  display: grid;
  place-items: center;
}

.square:hover {
  background-color: hsl(0, 0%, 10%);
}

.turn {
  margin-block: 3em;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.turn .square {
  width: 6rem;
  height: 6rem;
}

.is-selected {
  box-shadow: 0 0 0 2px hsl(120, 100%, 50%);
}

.winner {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 2em;
  border-radius: 0.3em;
  background-color: hsl(0, 0%, 20%);
}

.winner h3 {
  margin-top: 0;
  font-weight: 500;
  font-size: 2rem;
}

.winner-button {
  padding: 0.75em 1em;
  border: none;
  border-radius: 0.3em;
  font-size: inherit;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}
